---
import { getCollection, render } from "astro:content";  
import Layout from "../../layouts/Layout.astro";  

export async function getStaticPaths() {
  const specification = await getCollection("specification");
  
  return specification.map((collection) => ({
    params: { id: collection.slug }, 
  }));
}

const { id } = Astro.params;
const specification = await getCollection("specification");

const Collection = specification.find((collection) => collection.slug === id);

if (!Collection) {
  throw new Error("Collection no está definida");
}

const { slug, data } = Collection;

if (!data) {
  throw new Error("Data no está definida en la colección");
}

const { title, img } = data;
const { Content } = await render(Collection);
---

  <Layout title={`${title}`}>
  <div class="max-w-[80%] mx-auto p-8">
    <a href="/specification" class="hover:underline opacity-70 mb-4 block text-white">← Back to Previous</a>
  
    <!-- Contenido -->
    <article class="max-w-[80%] prose prose-lg prose-invert mx-auto">
      <div class="overflow-x-auto">
        <Content />
      </div>
    </article>
  </div>
</Layout>

<script>
  // Agregar clase 'text-base' a todos los <sup>
  document.querySelectorAll("sup").forEach((sup) => {
    sup.classList.add("text-base");
  });


  // Agregar estilos a las tablas
  document.querySelectorAll("table").forEach((table) => {
    table.classList.add(
      "table-auto",         
      "border-gray-300",    
      "overflow-hidden"   
    );
    const thead = table.querySelector("thead");
    if (thead) {
      thead.classList.add(
        "bg-gray-800", 
        "text-white"  
      );
    }
    const tds = table.querySelectorAll("td, th");
    tds.forEach((td) => {
      td.classList.add(
        "border",        
        "border-gray-300", 
        "p-4"             
      );
    });
  });


  // Mejorar el zoom en imágenes
  document.querySelectorAll("img").forEach((img) => {
    img.classList.add(
      "transform",
      "transition",
      "duration-500", // Hacerlo más lento
      "hover:scale-103" // Zoom más pequeño
    );
  });
</script>

