---
import { getCollection, render } from "astro:content";  
import Layout from '../layouts/Layout.astro';  

const contributingEntries = await getCollection('contributing'); 

if (!contributingEntries.length) {
  throw new Error("No se encontró el contenido del contributing.");
}

const { Content } = await render(contributingEntries[0]); 
---

<Layout title="Contributing">
  <div class="max-w-[80%] mx-auto p-8">
  
    <!-- Contenido -->
    <article class="max-w-[80%] prose prose-lg prose-invert mx-auto">
      <div class="overflow-x-auto">
        <Content />
      </div>
    </article>
  </div>
</Layout>
