---
import { getCollection, render } from "astro:content";  
import Layout from '../layouts/Layout.astro';  

const contributingEntries = await getCollection('contributing'); 

if (!contributingEntries.length) {
  throw new Error("No se encontró el contenido del contributing.");
}

const { Content } = await render(contributingEntries[0]); 
---

<Layout title="Contributing">
  <main class="px-6 py-8 text-white">
    <Content class="prose lg:prose-xl" /> 
  </main>
</Layout>