---
import Layout from '../layouts/Layout.astro';
---


<Layout title="Welcome to TacoFundation">

  <main class="mt-10 flex flex-col items-center">
    <img src="/taco.png" class="mb-4">
    <h1 class="text-center text-3xl sm:text-4xl md:text-5xl font-extrabold mb-8">
      The TACO Foundation
    </h1>
    <p class="text-center text-lg mt-4 mb-10">
      Every EO problem deserves a TACO. 
      <a href="https://geoparquet.org/releases/v1.1.0/" class="text-blue-500 text-lg underline hover:text-blue-700">
        Click here to read the full specification
      </a>
    </p>		

    <!-- Botón Get Started -->
    <a href="/overview" class="mt-6 text-lg font-semibold bg-transparent text-white border border-white py-2 px-6 rounded-lg transition-all duration-300 ease-in-out transform hover:scale-105 hover:bg-white hover:text-[#13151a] hover:shadow-lg">
      Get Started
    </a>
  </main>

</Layout>
