---
import { navItems } from "../config/nav.js";
---

<nav class="bg-[#13151a]" x-data="{ open: false, openModal: false }">
  <div
    class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4"
  >
    <!-- PARA DISPOSITIVOS GRANDES -->
    <div class="hidden md:flex w-full items-center justify-between">
      <!-- 1. IMAGEN Y NOMBRE -->
      <a href="/" class="flex items-center space-x-3 rtl:space-x-reverse">
        <img src="/taco.png" class="h-8" alt="Taco logo" />
        <span
          class="self-center text-base sm:text-lg md:text-xl lg:text-2xl font-semibold whitespace-nowrap text-white"
        >
          TACO Foundation
        </span>
      </a>

      <!-- 2. OPCIONES DEL NAV -->
      <ul class="flex space-x-8 font-medium text-lg">
        {
          navItems.map((item) => (
            <li>
              <a href={item.href} class="text-white hover:text-yellow-500">
                {item.name}
              </a>
            </li>
          ))
        }
      </ul>

      <!-- 3. ÍCONOS DE HUGGING FACE Y GITHUB -->
      <div class="flex items-center space-x-8">
        <a href="https://huggingface.co/tacofoundation">
          <img
            src="/hf-logo.png"
            class="transition duration-300 h-10 w-10"
            alt="Hugging Face"
          />
        </a>
        <a
          href="https://github.com/tacofoundation"
          class="text-white hover:text-yellow-500"
          aria-label="GitHub"
        >
          <i class="fab fa-github text-3xl"></i>
        </a>
      </div>
    </div>

    <!-- PARA DISPOSITIVOS PEQUEÑOS -->
    <div class="flex md:hidden w-full items-center justify-between">
      <!-- 1. IMAGEN Y NOMBRE -->
      <a href="/" class="flex items-center space-x-3 rtl:space-x-reverse">
        <img src="/taco.png" class="h-8" alt="Taco logo" />
        <span
          class="self-center text-base font-semibold whitespace-nowrap text-white"
        >
          TACO Foundation
        </span>
      </a>

      <!-- 2. ÍCONOS DE HUGGING FACE Y GITHUB -->
      <div class="flex items-center space-x-2">
        <a href="https://huggingface.co/tacofoundation" class="mr-2">
          <img
            src="/hf-logo.png"
            class="h-9 w-9 transition duration-300"
            alt="Hugging Face"
          />
        </a>
        <a
          href="https://github.com/tacofoundation/tortilla-python"
          class="text-white hover:text-yellow-500 transition duration-300 mr-2"
          aria-label="GitHub"
        >
          <i class="fab fa-github text-3xl"></i>
        </a>

        <!-- 3. BOTÓN HAMBURGUESA QUE AL DAR CLICK MUESTRA OPCIONES -->
        <button
          type="button"
          @click="open = !open"
          class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
          aria-controls="navbar-search"
          aria-expanded="false"
        >
          <span class="sr-only">Open main menu</span>
          <svg
            class="w-5 h-5"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 17 14"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M1 1h15M1 7h15M1 13h15"></path>
          </svg>
        </button>
      </div>
    </div>

    <!-- MENÚ DESPLEGABLE PARA DISPOSITIVOS PEQUEÑOS -->
    <div class="w-full md:hidden" :class="{ 'block': open, 'hidden': !open }">
      <ul
        class="flex flex-col p-4 font-medium border border-gray-700 rounded-lg bg-[#13151a] text-lg"
      >
        {
          navItems.map((item) => (
            <li>
              <a
                href={item.href}
                class="block py-2 text-white hover:text-yellow-500"
              >
                {item.name}
              </a>
            </li>
          ))
        }
      </ul>

    </div>
  </div>

</nav>
