---
import { navItems } from "../config/nav.js";
import SearchField from "./SearchField.astro";
---

<nav class="bg-[#13151a]" x-data="{ open: false, openModal: false }">
  <div
    class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4"
  >
    <!-- PARA DISPOSITIVOS GRANDES -->
    <div class="hidden md:flex w-full items-center justify-between">
      <!-- 1. IMAGEN Y NOMBRE -->
      <a href="/" class="flex items-center space-x-3 rtl:space-x-reverse">
        <img src="/taco.png" class="h-8" alt="Taco logo" />
        <span
          class="self-center text-base sm:text-lg md:text-xl lg:text-2xl font-semibold whitespace-nowrap text-white"
        >
          TACO Foundation
        </span>
      </a>

      <!-- 2. OPCIONES DEL NAV -->
      <ul class="flex space-x-8 font-medium text-lg">
        {
          navItems.map((item) => (
            <li>
              <a href={item.href} class="text-white hover:text-yellow-500">
                {item.name}
              </a>
            </li>
          ))
        }
      </ul>

      <!-- 3. ÍCONOS DE HUGGING FACE Y GITHUB -->
      <div class="flex items-center space-x-8">
        <a href="https://huggingface.co/tacofoundation">
          <img
            src="/hf-logo.png"
            class="transition duration-300 h-10 w-10"
            alt="Hugging Face"
          />
        </a>
        <a
          href="https://github.com/tacofoundation/tortilla-python"
          class="text-white hover:text-yellow-500"
          aria-label="GitHub"
        >
          <i class="fab fa-github text-3xl"></i>
        </a>

        <!-- 4. Input de búsqueda que abre el modal -->
        <div class="relative hidden md:block">
          <div
            class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none"
          >
            <svg
              class="w-4 h-4 text-gray-500 dark:text-gray-400"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 20 20"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"></path>
            </svg>
          </div>
          <input
            type="text"
            id="search-navbar"
            class="block w-full p-2 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            placeholder="Search..."
            @click="openModal = true; $nextTick(() => $refs.modalInput.focus())"
          />
        </div>
      </div>
    </div>

    <!-- PARA DISPOSITIVOS PEQUEÑOS -->
    <div class="flex md:hidden w-full items-center justify-between">
      <!-- 1. IMAGEN Y NOMBRE -->
      <a href="/" class="flex items-center space-x-3 rtl:space-x-reverse">
        <img src="/taco.png" class="h-8" alt="Taco logo" />
        <span
          class="self-center text-base font-semibold whitespace-nowrap text-white"
        >
          TACO Foundation
        </span>
      </a>

      <!-- 2. ÍCONOS DE HUGGING FACE Y GITHUB -->
      <div class="flex items-center space-x-2">
        <a href="https://huggingface.co/tacofoundation" class="mr-2">
          <img
            src="/hf-logo.png"
            class="h-9 w-9 transition duration-300"
            alt="Hugging Face"
          />
        </a>
        <a
          href="https://github.com/tacofoundation/tortilla-python"
          class="text-white hover:text-yellow-500 transition duration-300 mr-2"
          aria-label="GitHub"
        >
          <i class="fab fa-github text-3xl"></i>
        </a>

        <!-- 3. BOTÓN HAMBURGUESA QUE AL DAR CLICK MUESTRA OPCIONES -->
        <button
          type="button"
          @click="open = !open"
          class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
          aria-controls="navbar-search"
          aria-expanded="false"
        >
          <span class="sr-only">Open main menu</span>
          <svg
            class="w-5 h-5"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 17 14"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M1 1h15M1 7h15M1 13h15"></path>
          </svg>
        </button>
      </div>
    </div>

    <!-- MENÚ DESPLEGABLE PARA DISPOSITIVOS PEQUEÑOS -->
    <div class="w-full md:hidden" :class="{ 'block': open, 'hidden': !open }">
      <ul
        class="flex flex-col p-4 font-medium border border-gray-700 rounded-lg bg-[#13151a] text-lg"
      >
        {
          navItems.map((item) => (
            <li>
              <a
                href={item.href}
                class="block py-2 text-white hover:text-yellow-500"
              >
                {item.name}
              </a>
            </li>
          ))
        }
      </ul>

      <!-- Campo de búsqueda en el menú de hamburguesa -->
      <div class="relative my-4">
        <div
          class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none"
        >
          <svg
            class="w-4 h-4 text-gray-500 dark:text-gray-400"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 20 20"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"></path>
          </svg>
        </div>
        <input
          type="text"
          id="search-navbar-small"
          class="block w-full p-2 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="Search..."
          @click="openModal = true; $nextTick(() => $refs.modalInput.focus())"
        />
      </div>
    </div>
  </div>

  <!-- Modal de búsqueda -->
  <div
    x-show="openModal"
    @click.away="openModal = false"
    class="fixed inset-0 z-50 flex items-center justify-center bg-black bg-opacity-50"
  >
    <div class="bg-white rounded-lg p-6 w-11/12 md:w-1/3 relative" @click.stop>
      <!-- Botón para cerrar el modal -->
      <button
        @click="openModal = false"
        class="absolute top-2 right-2 text-gray-500 hover:text-gray-700 focus:outline-none"
      >
        <svg
          class="w-5 h-5"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M6 18L18 6M6 6l12 12"></path>
        </svg>
      </button>

      <!-- Contenedor con scroll para los resultados de búsqueda -->
      <div class="mt-4 max-h-80 overflow-y-auto">
        <SearchField id="modal-search" className="block w-full p-2" />
      </div>
    </div>
  </div>
</nav>
